# used to install machines and if no coreos
# version is given in the profile
default_coreos_version: 1409.7.0

network:
  pxe: true
  uefi: false
  pxe_interface: eth0
  machine_interface: eth0
  bind_addr: 10.0.0.254
  bootstrap_range:
    start: 10.0.0.10
    end: 10.0.0.30
  ip_range:
    start: 10.0.1.100
    end: 10.0.1.150
  dns: [8.8.8.8, 8.8.4.4]
  ntp: [0.pool.ntp.org, 1.pool.ntp.org]
  router: 10.0.0.1
  network_model: singlenic
  subnet_size: 24
  subnet_gateway: 10.0.1.1
  vlan_id: -1

profiles:
  - name: core
    quantity: 3
  - name: default

templates_env:
  users:
    - Key: ssh-rsa xxxxxxxxxxxxxxx
      Name: my_user
    - Key: ssh-rsa yyyyyyyyyyyyyyy
      Name: second_user
  mayu_https_endpoint: https://10.0.1.254:4080
  mayu_http_endpoint: http://10.0.1.254:4081
  mayu_api_ip: 10.0.1.254
