# used to install machines and if no coreos
# version is given in the profile
default_flatcar_version: 1409.7.0

network:
    bind_addr: 10.0.0.254
  pxe:
    enabled: true
    pxe_interface:
      interface_name: eth0
      ip_range:
        start: 10.0.0.10
        end: 10.0.0.30
      subnet_gateway: 10.0.0.1
      subnet_size: 24
  primary_nic:
    interface_name: eth0
    ip_range:
      start: 10.0.0.101
      end: 10.0.0.200
    subnet_size: 24
    subnet_gateway: 10.0.0.1
    network_model:
      type: singlenic
    routes:
    - destination_cidr: 87.12.13.0/28
      route_hop: 10.0.4.199
    dns:
    - 8.8.8.8
    - 1.1.1.1
   
  extra_nics:
  - interface_name: eth1
    ip_range:
      start: 10.0.5.210
      end: 10.0.5.245
    subnet_size: 24
    network_model:
      type: singlenic
    routes:
      - destination_cidr: 1.1.4.0/28
        route_hop: 10.0.5.200
  uefi: false
  ntp: [0.pool.ntp.org, 1.pool.ntp.org]

profiles:
  - name: core
    quantity: 3
  - name: default

templates_env:
  users:
    - Key: ssh-rsa xxxxxxxxxxxxxxx
      Name: my_user
    - Key: ssh-rsa yyyyyyyyyyyyyyy
      Name: second_user
  mayu_https_endpoint: https://10.0.1.254:4080
  mayu_http_endpoint: http://10.0.1.254:4081
  mayu_api_ip: 10.0.1.254
