[Unit]
Description=Mayu
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStart=/usr/bin/docker run --rm --cap-add=NET_ADMIN --net=host \
        -v /var/lib/mayu:/var/lib/mayu \
	--name mayu \
        giantswarm/mayu

[Install]
WantedBy=multi-user.target
